.container{
    max-width: 600px;
  }
  .btn{
    background: #296cd1;
    color: white;
    outline: none !important;
    box-shadow: none !important;
  }
  .btn:focus{
    outline: none !important;
  }
  .nombreusuario{
    font-weight: bold;
  }
  .tiempo{
    font-size: 0.7em;
    color: #999;
  }
  .update-mssg{
    text-align: center;
    margin: 20px auto;
    color: #296cd1;
  }